/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #10934d;
  --matr-navbar-bg-rgb: 255, 255, 255;
  --matr-navbar-highlight-text: #10934d;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  --bs-dark-rgb: 75, 75, 75;
  --bs-body-bg: #10934d;
  --bs-body-color: white;
}

body .navbar {
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

a.nav-link {
  color: black;
}

#title {
  font-family: Courgette, sans-serif;
}

footer {
  color: white;
}

body .card {
  --bs-card-bg: white;
}

body .form-control {
  background-color: white;
  color: black;
}

body .form-control:focus {
  background-color: white;
  color: black
}

body .btn-primary {
  --bs-btn-bg: #10934d;
  --bs-btn-border-color: #10934d;
  --bs-btn-hover-bg: #10934D;
  --bs-btn-hover-border-color: #09733c;
  --bs-btn-active-bg: #09733c;
  --bs-btn-active-border-color: #09733c;
  --bs-btn-disabled-bg: #10934d;
  --bs-btn-disabled-border-color: #10934d;
}

#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: white;
}

body .alert {
  --bs-alert-border: none;
}

body .click-here {
  --bs-alert-padding-x: 0;
  --bs-alert-padding-y: 0;
  padding-top: 1em;
  color: black;
}

body a {
  color: black;
}

.card-body label {
  color: black;
}

.bg-image {
  background-image: url("https://cdn.discordapp.com/attachments/1170202515875299348/1174256454065213480/campus-manoa-valley.jpg?ex=6566ee8b&is=6554798b&hm=8cc48bfb2b8fe014be92570e9a3307bb6cb03cbd9af9b471b8b5dbca316f2ae2&");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.card-title {
  --bs-card-title-color: black;
}

.card-subtitle {
  --bs-card-subtitle-color: black;
}

.card-text {
  color: black;
}

body .text-success {
  color: black!important;
}

body input {
  margin-right: 1em;
}

.list-group-item {
  font-size: 14px;
}

#bio {
  margin-top: 50px;
}

#edit-profile-btn {
  margin-top: 10px;
}

.text-on-image {
  display: flex;
  align-items: center;
  font-family: 'Josefin Sans', sans-serif;
  background-image: url("/images/campus-manoa-valley.jpg");
  background-size: cover;
  flex: 1;
}

.text-containter {
  text-align: center;
}

.show-more {
  color: white;
  padding-top: 1em;
}

body .click-here {
  color: black;
}

#click-here {
  color: white;
}

.image-container {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  overflow: hidden;
}

.image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 10px solid white;
}