/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #10934d;
  --matr-navbar-bg-rgb: 255, 255, 255;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  --bs-dark-rgb: 75, 75, 75;
  --bs-body-bg: #10934d;
  --bs-body-color: white;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

a.nav-link {
  color: black;
}

h2 {
  font-family: Courgette, sans-serif;
}

footer {
  color: white;
}

body .card {
  --bs-card-bg: white;
}

body .form-control {
  background-color: white;
  color: black;
}

body .form-control:focus {
  background-color: white;
  color: black
}

body .btn-primary {
  --bs-btn-bg: #10934d;
  --bs-btn-border-color: #10934d;
  --bs-btn-hover-bg: #10934D;
  --bs-btn-hover-border-color: #09733c;
  --bs-btn-active-bg: #09733c;
  --bs-btn-active-border-color: #09733c;
  --bs-btn-disabled-bg: #10934d;
  --bs-btn-disabled-border-color: #10934d;
}

#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: white;
}

body .alert {
  --bs-alert-border: none;
}

body .click-here {
  --bs-alert-padding-x: 0;
  --bs-alert-padding-y: 0;
  padding-top: 1em;
  color: black;
}

body a {
  color: black;
}