/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #10934d;
  --matr-navbar-bg-rgb: 255, 255, 255;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  --bs-dark-rgb: 75, 75, 75;
  --bs-body-bg: #10934d;
  --bs-body-color: white;
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

a.nav-link {
  color: black;
}

h2 {
  font-family: Courgette, sans-serif;
}

footer {
  color: white;
}